body {
    background-color: black;
    color: beige;
    text-align: center;
}
#firstbox {
    color: black;
    background-color: antiquewhite;
    font-size: 150%;
}
h1 {
    color: beige;
    text-align: center;
}
