body {
  background-color: black;
  color: beige;
}
#firstbox {
  color: black;
  background-color: antiquewhite;
  font-size: 150%;
}
h1 {
  color: beige;
  text-align: center;
}
#formbox {
  text-align: center;
}
