#firstbox {
    text-align: center;
    color: beige;
}
body {
    background-color: black;
    color: red;
}
h1 {
    color: beige;
    text-align: center;
}
h2 {
    color: antiquewhite;
}
#secondbox {
    text-align: center;
}